.login h1 a{ background:none; }
.login h1:before, .login h1:after{font-family: 'Bree Serif', serif; color:#111; font-weight:100;}
.login h1:before{ display:block; font-size:4.0625em; content:"Hyperion"; color:rgb(65,180,255);   }
.login h1:after{ display:block; color:#111; font-size:1.25em; margin-top:5px; line-height:1.2; }